@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-Regular.eot);
    src: url(../fonts/Rift-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-Regular.woff) format("woff"),url(../fonts/Rift-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Demi';
    src: url(../fonts/Rift-Demi.eot);
    src: url(../fonts/Rift-Demi.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-Demi.woff) format("woff"),url(../fonts/Rift-Demi.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-Light.eot);
    src: url(../fonts/Rift-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-Light.woff) format("woff"),url(../fonts/Rift-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-MediumItalic.eot);
    src: url(../fonts/Rift-MediumItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-MediumItalic.woff) format("woff"),url(../fonts/Rift-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-BoldItalic.eot);
    src: url(../fonts/Rift-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-BoldItalic.woff) format("woff"),url(../fonts/Rift-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rift Soft Demi';
    src: url(../fonts/RiftSoft-DemiItalic.eot);
    src: url(../fonts/RiftSoft-DemiItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-DemiItalic.woff) format("woff"),url(../fonts/RiftSoft-DemiItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-LightItalic.eot);
    src: url(../fonts/RiftSoft-LightItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-LightItalic.woff) format("woff"),url(../fonts/RiftSoft-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rift Soft Demi';
    src: url(../fonts/RiftSoft-Demi.eot);
    src: url(../fonts/RiftSoft-Demi.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-Demi.woff) format("woff"),url(../fonts/RiftSoft-Demi.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-Light.eot);
    src: url(../fonts/RiftSoft-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-Light.woff) format("woff"),url(../fonts/RiftSoft-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-Italic.eot);
    src: url(../fonts/RiftSoft-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-Italic.woff) format("woff"),url(../fonts/RiftSoft-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-LightItalic.eot);
    src: url(../fonts/Rift-LightItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-LightItalic.woff) format("woff"),url(../fonts/Rift-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-Regular.eot);
    src: url(../fonts/RiftSoft-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-Regular.woff) format("woff"),url(../fonts/RiftSoft-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Demi';
    src: url(../fonts/Rift-DemiItalic.eot);
    src: url(../fonts/Rift-DemiItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-DemiItalic.woff) format("woff"),url(../fonts/Rift-DemiItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-Italic.eot);
    src: url(../fonts/Rift-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-Italic.woff) format("woff"),url(../fonts/Rift-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-BoldItalic.eot);
    src: url(../fonts/RiftSoft-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-BoldItalic.woff) format("woff"),url(../fonts/RiftSoft-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-Medium.eot);
    src: url(../fonts/Rift-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-Medium.woff) format("woff"),url(../fonts/Rift-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-Medium.eot);
    src: url(../fonts/RiftSoft-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-Medium.woff) format("woff"),url(../fonts/RiftSoft-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rift';
    src: url(../fonts/Rift-Bold.eot);
    src: url(../fonts/Rift-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Rift-Bold.woff) format("woff"),url(../fonts/Rift-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-Bold.eot);
    src: url(../fonts/RiftSoft-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-Bold.woff) format("woff"),url(../fonts/RiftSoft-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rift Soft';
    src: url(../fonts/RiftSoft-MediumItalic.eot);
    src: url(../fonts/RiftSoft-MediumItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/RiftSoft-MediumItalic.woff) format("woff"),url(../fonts/RiftSoft-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}
.zheader {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 390px;
  opacity: .97;
  max-width: 95%
}
a:hover {
	color: #FFFFFF;
}
.footer .fa {
  padding: 17px;
  font-size: 24px;
}
.fa:hover {
	text-shadow: 1px 0px 20px #6acdfc;
}
.footer {
	bottom: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
body {
	margin: 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center 46%;
	background-color: #bcd0d7;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
  line-height: 1;
}
.bitw-container {
	background: rgba(0, 15, 43, 0.67);
}
#zdiv {
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family: rift;
  color: #ffffff;
  background-image: url(../img/z1.png), url(../img/z2.png), url(../img/z3.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  overflow: hidden;
  z-index: 1;
}
@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px
	}
}

.bitw-container {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	max-width: 43em;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

.bitw-custom-table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1.5ex 0;
	position: relative;
	width: 100%;
}

.bitw-custom-table:after {
	border-top: 1px solid currentColor;
	left: 0;
	opacity: .15;
	position: absolute;
	bottom: 0;
	width: 100%;
	content: '';
}

.bitw-custom-table p {
	margin: 0;
	padding: 0;
  line-height: 1;
}

.bitw-custom-table td {
	position: relative;
}
.bitw-td-date {
	font-size: 1em;
	font-weight: 100;
	letter-spacing: .1em;
	line-height: 1.1;
	text-transform: uppercase;
	white-space: nowrap;
}

.bitw-custom-table td:first-of-type:before {
	border-top: 1px solid currentColor;
	left: 0;
	opacity: .15;
	position: absolute;
	top: 0;
	width: 100%;
	content: '';
}

.bitw-td-date-range {
	white-space: normal;
}

.bitw-custom-end-date, .bitw-custom-start-date {
	display: inline-block;
	white-space: nowrap;
}

.bitw-custom-seperator {
	display: inline-block;
	margin: 0 .25em;
	-webkit-transform: scaleX(2) scaleY(0.75);
	transform: scaleX(2) scaleY(0.75);
}

.bitw-inner-location {
	font-weight: 500;
	font-size: 2em;
}

.bitw-inner-notes {
	font-size: small;
	font-style: italic;
}

.bitw-td-tickets {
	vertical-align: middle;
}

.bitw-td-tickets a {
	background: rgba(255, 255, 255, 0.25);
	border-radius: 2px;
	color: inherit;
	display: block;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: .09em;
	margin: .25ex 5px;
	min-width: 5em;
	padding: .5ex 1em;
	position: relative;
	text-align: center;
	text-decoration: none!important;
	text-transform: uppercase;
	-webkit-transition: .075s all;
	transition: .075s all;
}

.bitw-td-tickets a:after {
	border-radius: 2px;
	bottom: 0;
	box-shadow: inset 0 0 0 1px currentColor;
	content: '';
	left: 0;
	opacity: .3;
	position: absolute;
	right: 0;
	top: 0;
}

.bitw-td-tickets a:focus, .bitw-td-tickets a:hover {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	opacity: 1;
	outline: none;
}

.bitw-td-tickets a:focus:after, .bitw-td-tickets a:hover:after {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
	opacity: .7;
}

.bitw-td-tickets a:active {
	background: rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, 0.7);
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}

.bitw-td-tickets>span {
	display: inline-block;
	font-size: 1rem;
	margin: 0 .5ex;
}

.bitw-custom-sold-out a:before {
	content: 'Buy Tickets';
	display: block;
	margin: 0 .5em;
	text-decoration: line-through;
	white-space: nowrap;
}

.bitw-custom-highlighted td {
	background: rgba(0, 0, 0, 0.1);
}

span.bitw-outer-venue {
	font-size: 1em;
	font-family: rift;
	font-weight: 100;
}
span.bitw-inner-location {
	letter-spacing: .04em;
  line-height: 1;
  margin-bottom: 0;
}
span.bitw-inner-venue {
	letter-spacing: 0.2em;
}
@media (min-device-width: 1441px) {
	body {
		background-image: url('../img/sweatersbg.jpg');
	}
}
@media (min-device-width: 1281px) and (max-device-width: 1440px) {
	body {
		background-image: url('../img/sweatersbgmed.jpg');
	}
}
@media (min-device-width: 681px) and (max-device-width: 1280px) {
	body {
		background-image: url('../img/sweatersbgmsmall.jpg');
	}
}
@media (min-device-width: 481px) and (max-device-width: 680px) {
	body {
		background-image: url('../img/sweatersbgsm.jpg');
		background-position: 0 0;
		background-attachment: scroll;
	}
}
@media (max-device-width: 480px) {
	body {
		background-image: url('../img/sweatersbgsm.jpg');
		background-position: 0 0;
		background-attachment: scroll;
	}
}
@media (min-width: 30.001em) {
  .bitw-custom-table td:before {
    border-top: 1px solid currentColor;
    left: 0;
    opacity: .15;
    position: absolute;
    top: 0;
    width: 100%;
    content: '';
  }
	.bitw-td {
		padding: 16px 8px;
	}
  .bitw-td-date {
    max-width: 10em;
  }
  .bitw-inner-location {
    display: block;
    font-size: 1.5em;
  }
  .bitw-td-tickets {
    font-size: .1px;
    letter-spacing: -.5em;
    padding-right: 4px;
    text-align: right;
  }
  .bitw-td-tickets>span {
    max-width: 143px;
    /* margin-right: 20px; */
  }
  .bitw-td-venue-and-location {
    padding-left: 5%;
    max-width: 180px;
  }
}
@media (max-width: 30em) {
  .bitw-custom-table {
    overflow: hidden;
  }
	.bitw-custom-table td:first-of-type {
		padding-top: 16px;
		padding-bottom: 0px;
	}
  .bitw-custom-table td:last-of-type {
    padding-bottom: 16px;
  }
  .bitw-td-date {
    font-size: 1.25em;
    font-weight: 500;
  }
  .bitw-td {
    display: block;
  }
}

@supports (flex-wrap: wrap) {
	@media (max-width: 30em) {
		.bitw-td-tickets {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 -.5ex;
		}
	}
	.bitw-td-tickets>span {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		margin: 0;
	}
	.bitw-custom-buy-tickets {
		display: block;
	}
}
